*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@primary :  #19262C;
@secondary: #4C515C;
@temp-color: #E87D4F;
@sun-color: #FCB941;
@umid-color: #95C4E8;
@text-color: #E6F4FA;

body{
    font-size: 100%;  
    background: @primary;    
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: @text-color 1px solid;
}

.conteudo{
    gap: 24px;
}

.name{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: @text-color;
}

.section-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px;
}

.icon{
    color: @text-color;
}

#umidade-icon{
    font-size: 30px;
}

#titulo-icon{
    font-size: 40px;
}

#temperatura-icon{
    font-size: 30px;
}

/* =====Graficos===== */

.section-graficos{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.grafico-gauge{
    width: 100%;
    max-width: 250px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: @text-color;
}


.gauge-fill{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gauge-cover{
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: @primary;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#luz{
    background: conic-gradient(@sun-color 3deg, @secondary 0deg);
}

#temperatura{
    background: conic-gradient(@temp-color 3deg, @secondary 0deg);   
}

#umidade{ 
    background: conic-gradient(@umid-color 3deg, @secondary 0deg);
}
/* =====Footer===== */

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    padding: 24px;
    border-top: @text-color 1px solid;

    /* =====Text===== */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: @text-color;
}

.footer-texto{
    max-width: 900px;
}

#github-img{
    width: 80px;
    height: 80px;
}